/* Styles for icoolhunt-radar demo
 *
 * Author: Davide Orazio Montersino
 */

/* === resets === */

/* === defaults === */

/* === generic styles */

/* === layout === */

/* === modules === */

/* === specific styles */
#radar-demo{
	border: 1px dashed #ddd;
	min-height: 200px;
	min-width: 400px;
	background-color: #eee;
}

.radar-handlers{
	fill: rgba(100,150,180,0.5);
}

.radar-handlers:hover{
	fill: rgba(100,150,180,0.9);	
}

.radar-path{
	stroke: rgba(80,120,150,0.5);
	fill: rgba(100,150,180,0.5);
}


.radar-grid{
	stroke-width: 1;
  	stroke: #aaa;
}
/* === subsections === */

/* === hacks / overrides === */
