/* Styles for dragdrop-radar demo
 *
 * Author: Davide Orazio Montersino
 */

/* === resets === */

/* === defaults === */

/* === generic styles */

/* === layout === */


/* === modules === */

/* === specific styles */
svg{
}
#radar-demo{
	margin: 20px 0;
	min-height: 200px;
	min-width: 400px;
}

.radar-handlers{
	fill: rgba(100,150,180,0.5);
}

.radar-handlers:hover{
	fill: rgba(100,150,180,0.9);	
}

.radar-path{
	stroke: rgba(80,120,150,0.5);
	fill: rgba(100,150,180,0.5);
}

.radar-grid{
	stroke-width: 1;
  	stroke: #888;
  	fill: rgba(0,0,0,0);
}

.radar-grid.external-circle{
	stroke-width:0;
}

text.axe-labels, text.data-labels, text.tooltip{
	font-size: 10px;
	font-family: Helvetica, sans-serif;
	fill: #888;
}
/* === subsections === */

/* === hacks / overrides === */
